.PopularGrid{
    display: flex;
    overflow: hidden;
}
button{
    cursor: pointer;
}
.lBtn{
    z-index: 10;
	position: absolute; 
	top: 50%;
	left: 0;
	border-radius: 100%;
	border-color: white;
	border-style: solid;
	color: blue;
	font-size: 1.5em;
}
.rBtn{
    z-index: 10;
	position: absolute; 
	top: 50%;
	right: 0;
	border-radius: 100%;
	color: blue;
	border-color: white;
	border-style: solid;
	font-size: 1.5em;
}
.ProduceImage{
    object-fit: contain;
    width: 400px;
}
.sliderSlide{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease-out;
	
}
.sliderSlideActive{
	opacity: 1;
}
/* DOT */
.sliderDots{
	display: flex;
	position: absolute;
	bottom: 1vw;
	left: 50%;
	transform: translateX(-50%);
}
.sliderDot{
	position: relative;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	background-color: #559392;
	margin: 0 0.5vw;
	cursor: pointer;
}
.sliderDot::before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #00003d;
	border-radius: 50%;
	opacity: 0;
}
.sliderDotActive::before{
	opacity: 1;
}